{% extends "base.html" %}

{% block content %}
    <h1>Welcome!</h1>
    <h2>Currently...</h2>
    <div><p><b>Temperature</b> is {{ data.Temperature }} &#x2103;</p></div>
    <div><p><b>Relative Humidity</b> is {{ data.Rel_Humidity }} %</p></div>
    <div><p><b>Pressure</b> is {{ data.Pressure }} hPa</p></div>
    {% if data.Bird_Detected=="True" %}
    <div><p> There is a bird home!</p></div>
    {% else %}
    <div><p> There is no bird home! :(</p></div>
    {% endif %}
    <div><p>Last Bird Detected: {{ data.Last_Detection_Date }} at {{ data.Last_Detection_Time }} </p></div>
{% endblock %}