{% extends "base.html" %}

{% block content %}
    <h1>Welcome!</h1>
    <h2>Currently...</h2>
    <div><p><b>Temperature</b> is {{ data.temperature }} &#x2103;</p></div>
    <div><p><b>Relative Humidity</b> is {{ data.humidity }} %</p></div>
    <div><p><b>Pressure</b> is {{ data.pressure }} hPa</p></div>
    <div><p><b>Altitude</b> is {{ data.altitude }} meters</p></div>
    {% if data.Bird_Detected=="True" %}
    <div><p> There is a bird home!</p></div>
    {% else %}
    <div><p> There is no bird home! :(</p></div>
    {% endif %}
    <div><p>Last Bird Detected: {{ data.Last_Detection_Date }} at {{ data.Last_Detection_Time }} </p></div>
    <iframe src="http://{{ ip }}:8080/stream" width="640" height="480" frameborder="0" scrolling="no" allign="left" id="ImgStream"></iframe>

{% endblock %}
